<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DOFA-G</title>
    <link rel="stylesheet" href="/css-table-14/css/header.css" type="text/css">
</head>
<body>
<header>
    <div class="in">
        <h1 class="logo-box">
            <a href="\"></a>
        </h1>
    </div>
</header>
</body>
</html>