<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DOFA-G</title>
    <style>
        .logo-box a {
            display: block;
            width: 412px;
            height: 48px;
            background: url(../img/dofa-g-logo.png) no-repeat top left/contain;
            text-indent: -9999px;
            transition-delay: .4s;
        }
    </style>
</head>
<body>
    <header>
        <div class="in">
            <h1 class="logo-box">
                <a href="main.html"></a>
            </h1>
        </div>
    </header>
    <aside>

    </aside>
</body>
</html>